body {
    font-family: heebo !important;
}

body .brand--ui *, body .brand--ui * {
    font-family: heebo !important;
}

#innerApp {
    direction: rtl;
}

@font-face {
    font-family: 'heebo';
    src: url('fonts/heebo-v4-hebrew_latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'heebo';
    src: url('fonts/heebo-v4-hebrew_latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'heebo';
    src: url('fonts/heebo-v4-hebrew_latin-300.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

.brand--ui, .brand--ui * {
    font-family: 'heebo' !important;
}

.brand--head, .brand--head * {
    font-family: 'heebo' !important;
}

.brand--body, .brand--body * {
    font-family: 'heebo' !important;
}

.brand--lhead, .brand--lhead * {
    font-family: 'heebo' !important;
}

.brand--lbody, .brand--lbody * {
    font-family: 'heebo' !important;
}

.brand--beforeHead:before {
    font-family: 'heebo' !important;
}

.brand--afterHead:after {
    font-family: 'heebo' !important;
}

.lesson-header__author.brand--ui,
.overview__details-trigger,
#overview-main .overview__columns {
    display: none !important;
}

#overview .overview__side-content {
    padding-top: 5vw;
}

.overview__content {
    padding: 0;
}

.hp-hit-logo, .hp-mp-logo {
    position: fixed;
}

.hp-hit-logo {
    top: 20px;
    right: 30px;
    width: 90px;
}

.hp-mp-logo {
    top: 20px;
    left: 30px;
    width: 350px;
}

.overview__author.brand--ui {
    visibility: hidden;
}

.blocks-tabs__arrow--prev {
    right: auto;
    left: .9rem;
}

.blocks-tabs__arrow--next {
    left: auto;
    right: .9rem;
}

.bubble__controls {
    direction: ltr;
}

#overview header,
.overview__side,
.overview__side-panel {
    height: inherit;
}

.mirilyu_pp, .mirilyu_readyToStart {
    color: #313537;
    font-weight: 400;
    font-size: 2.25rem;
}

.mirilyu_pp:first-of-type {
    margin-bottom: 10px;
}

.mirilyu_readyToStart {
    margin-top: 5rem;
}

#overview h1.fr-view {
    font-size: 8rem;
    color: rgb(0, 71, 187);
}

#overview .overview__side-panel-overlay {
    background: none !important;
}

#overview .overview__button {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    padding: .15rem 4rem;
    border-radius: 100px;
    background-color: rgb(0, 71, 187);
}

.overview__title {
    margin-bottom: 1rem;
}

.block-list__item {
    list-style: none;
}

#overview .overview__side-panel {
    background-position: 50% 80%;
    background-image: url('../assets/opening.jpg') !important;
}

.au-modal {
    display: none;
    position: fixed;
    direction: rtl;
    background-color: rgba(0,0,0,.1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.au-modal.show {
    display: block;
}

.au-modal-inner {
    width: 60%;
    margin: 0 auto;
    background: #fff;
    color: #313537;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.au-modal-head,
.au-modal-footer {
    color: #fff;
    background-color: #4BAAF4;
}

.au-modal-head {
    padding: 8px 0;
    position: relative;
    text-align: center;
}

.au-modal-footer {
    text-align: center;
    direction: rtl;
}

.au-modal-content {
    text-align: center;
    padding: 20px;
}

.au-modal-title {
    font-weight: 600;
    font-size: 3rem;
}

.au-modal-subtitle {
    font-size: 2rem;
    margin: 0 auto 24px;
}

.au-logo-text-wrapper {
    width: 430px;
    margin: 0 auto;
}

.au-logo-text {
    margin-top: 40px;
}

.au-text {
    margin-right: 15px;
}

.au-close {
    top: 50%;
    right: 10px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #333;
    cursor: pointer;
    transform: translateY(-50%);
}

.au-close:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 3px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
}

.au-close:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 3px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.lesson-link__name--aboutUs .lesson-link__progress {
    display: none;
}

.curtain__text {
    direction: rtl;
}

.copyright_pp {
    right: 25px;
    bottom: 20px;
    z-index: 1000;
    direction: rtl;
    position: fixed;
    font-weight: 700;
}

.block-text--onecol .block-text__container {
    max-width: 100rem;
}

.block-image--text-aside .block-image__container {
    max-width: 94rem;
}

.au-logo-hit {
    width: 120px;
}

.au-logo-mishpatim {
    width: 400px;
    max-width: 90%;
}

#overview-main .overview__logo img:first-child {
    display: none;
}

.overview__logo {
    padding: 0;
}

@media (min-width: 48em) {
    .blocks-lesson {
        padding-bottom: 3.5rem;
    }
}

@media(max-width: 768px) {
    .overview__side-panel {
        height: 100vh !important;
    }

    .hp-mp-logo {
        width: 250px;
    }

    .hp-hit-logo {
        width: 60px;
    }

    .copyright_pp {
        left: 0;
        right: 0;
        bottom: 4px;
        line-height: 1.15;
        text-align: center;
    }

    .mirilyu_pp {
        font-size: 1.6rem;
    }

    .overview__side-panel {
        background-position: 45% 0;
    }

    #overview .overview__side-panel {
        background-position: 10% 80%;
    }

    #overview h1.fr-view {
        font-size: 4rem;
    }

    .mirilyu_readyToStart {
        margin-top: 2rem;
    }

    .au-modal-inner {
        width: 90%;
        height: auto;
        overflow: auto;
        max-height: 100%;
    }

    .au-modal-head {
        padding: 0;
    }

    .au-modal-subtitle {
        width: 100%;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .au-close {
        width: 18px;
        height: 18px;
    }

    .au-close:before,
    .au-close:after {
        width: 10px;
        height: 2px;
    }

    .au-modal-content {
        padding: 8px;
        font-size: 1.4rem
    }

    .au-logo-text {
        margin-top: 10px;
    }

    .au-logo-text-wrapper {
        width: 100%;
    }

    .au-logo img {
        width: 80px;
    }

    .au-modal-footer {
        font-size: 1.25rem;
    }

    .block-image__figure .animated {
        opacity: 1 !important;
    }
}
